<app-title>
	<h1><i18n ng-click="openMainPage()">forum.title</i18n></h1>
</app-title>

<h2 ng-if="category._id"><i18n>edit</i18n></h2>
<h2 ng-if="!category._id"><i18n>forum.create.a.category</i18n></h2>

<article class="twelve cell">
    <form ng-submit="saveCategoryEdit()">
		<div class="row rigid-grid" ng-init="initalName = category.name; initalIcon = category.icon">
			<div class="two cell clip height-two three-mobile">
				<image-select ng-model="category.icon" default="/img/illustrations/forum-default.png" thumbnails="[{ width: 290, height: 290 }]"></image-select>
			</div>
			<div class="margin-two height-two">
				<div class="twelve cell horizontal-spacing">
					<input type="text" class="twelve cell right-magnet" ng-model="category.name" required i18n-placeholder="forum.category"/>
				</div>

				<div class="row bottom-locked">
					<button class="right-magnet">
						<i18n>save</i18n>
					</button>
					<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="category.name = initalName; category.icon = initalIcon; cancelCategoryEdit()" />
				</div>
			</div>
		</div>
	</form>
</article>
